.main {
  display: grid;
  grid-template-columns: 200px 80%;
  grid-template-rows: 94% auto;
  height: 100vh;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  font-family: var(--font-geist-sans);
}

.carrouselPage {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.listPage {
  align-items: center;
  justify-content: center;
  overflow: scroll;
  padding: 30px;
}

.header {
  padding: 50px 30px;
  border-right: 1px solid gray;
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carouselWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indicators {
  display: flex;
  margin-top: -25px;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicatorInactive {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
  background-color: grey;
}

/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */

.footer {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
  font-size: 12px;
}

.footer a {
  text-decoration: underline;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
} */

/* @media (max-width: 600px) { */
/* .page {
    padding: 32px;
    padding-bottom: 80px;
  } */

/* .main {
    align-items: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
} */

.card {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 30px;
  width: 250px;
  opacity: 0.5;
}

.card img {
  border-radius: 100%;
}

.card:hover {
  opacity: 1;
}

.card:hover > .cardImage {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.allCardsWrapper {
  display: flex;
  gap: 20px;
  padding-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.loaderWrapper {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
